body {
    background-color: #141311;
    
    color:#b7b7b6;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #336D4B !important;
    color: #fff !important;
}

.nav-link {
    color: #686766 !important;
}

.card-img-top {
    width: 64px;
    height: 64px;
    margin: auto;
}

.card-body {
    background-color: #535250;
    color: #b7b786;
}

.card {
    background-color: #2e2d2c;
    min-width: 192px;
}

.enemy {
    color: red;
}

.self {
    color: rgb(82, 112, 247);
}

.allies {
    color: rgb(103, 255, 103);
}

.fire {
    color: coral;
}

.ice {
    color: rgb(78, 228, 255);
}

.lighting {
    color: rgb(255, 238, 0);
}

.poison {
    color: rgb(0, 165, 0);
}

.testDisplay {

  justify-self: center;
}

.box {
    background-color: rgb(51, 50, 50);
    padding: 12px;
    border-radius: 30px;
    min-width: 600px;
}

.testAnimEnemy {
  position: absolute;
  margin-top: 110px;
  margin-left: 132px;
}

.testAnimEnemyTwo {
    position: absolute;
    margin-top: 110px;
    margin-left: 209px;
  }

.testAnimSelf {
  position: absolute;
  margin-top: 232px;
  margin-left: 116px;
}

.testAnimAlly {
  position: absolute;
  margin-top: 232px;
  margin-left: 209px;
}

.testBubble {
    position: absolute;
    margin-top: 138px;
    margin-left: 186px;
  }

  .fillBubble {
    position: absolute;
    margin-top: 141px;
    margin-left: 190px;
  }

  .fillBubblePrev {
    height: 16px;
    width: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }

.sheet {
    display: block;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.input {
    /* visibility: hidden; */
    background-color: rgb(110, 109, 109);
    border: 1px solid #262727;

}
  .npcDummy {
      position: absolute;
      margin-top: 164px;
      margin-left: 182px;
  }

  .npcDummy:hover + .toolTip {
    position: absolute;
    margin-top: 164px;
    margin-left: 182px;
}

  .bgChoice {
      border-radius: 50%;
      height: 64px;
      width: 64px;
  }

.bgBubble {
    max-width: 24px;
    max-height: 24px;
}

  .npcChoice {
    height: 48px;
    width: auto;
}


  .toolTip {
    visibility: hidden;
    position: absolute;
    margin-top: 194px;
    margin-left: 176px;
}

.icon {
    position: absolute;
    margin-top: 40px;
    margin-left: 70px;
}

.widget {
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  max-width: 26px;
}


.widgetColor {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  max-width: 24px;
  overflow: auto;
  /* fill: black; */
  /* fill: radial-gradient(black, #fff); */
  fill: url(#MyGradient);
  filter: drop-shadow(0px 0px 4px black);
  stroke: black;
}

.widgetColor:hover {
  fill: #fff;
  filter: drop-shadow(0px 0px 4px black);

}


.widgetNew {
  position: absolute;
  margin-top: auto;
  margin-left: -1px;
  max-width: 36px;
  height: auto;
  overflow: auto;
  fill:#999999;
  filter: drop-shadow(0px 0px 4px black);
  stroke: black;
  stroke: width 0.2em;
}

.widgetNew:hover {
  fill: #fff;
  filter: drop-shadow(0px 0px 4px black);
}

.skullNew {
  position: absolute;
  margin: -8px;
  /* margin-top: auto; */
  margin-left: 0px;
  max-width: 36px;
  height: auto;
  /* overflow: auto; */
  fill: url(#widgetGradient) !important;
  filter: drop-shadow(0px 0px 4px black);
  stroke: black;
}

#light {
  fill:#999999 !important;
  transition: 300ms;

}

#light:hover {

  fill: #fff !important;  
  filter:  drop-shadow(1px 1px 4px black);
  transition: 1200ms;
}
#dark {
  fill:#292828 !important;
  transition: 300ms;

}

/* #dark:hover {
  fill: :#999999 !important;  
  filter: drop-shadow(1px 1px 4px black);
  transition: 1200ms;
} */

.widgetNewGrad {
  position: absolute;
  margin-top: auto;
  margin-left: -1px;
  max-width: 36px;
  height: auto;
  overflow: auto;
  fill: url(#widgetGradient) !important;
  filter: drop-shadow(0px 0px 4px black);
  stroke: black;
}

.widgetNewGrad:hover {
  fill: url(#widgetGradientHover) !important;
  filter: drop-shadow(0px 0px 4px black);
}


/* NOTES FOR SVG icons */

/* 
filter: drop-shadow - cień
stroke: - dodaje fajny lineart
fill - koloruje
GRADIENT: 
fill: url(#gradientID)

in <svg>
  <gradient>
  GRADIENT IN USE: https://www.w3schools.com/graphics/svg_grad_linear.asp
  </gradient>
</svg>


żeby działał CSS trzeba wywalić styl z svg

CO DALEJ:
trzeba ustawić w INKSCAPE export do kwadratu a nie na canvas A4 - wywala się
trzeba znaleźć jak 

*/










/* .npcName {
    font-family: 'aleo';
    position: absolute;
    margin-top: 7px;
    margin-left: 25%;
    color: #e1d1ba;
    text-shadow: black;

} */